<div class="block"></div>
<div class="block level-item">
  <p class="title">All upcoming events</p>
</div>

<% @events.each do |event| %>
  <div class="block">
    <div class="card">
      <div class="card-content">
        <%= link_to event.name, event, class:"title"%><br>
        <p class="subtitle"><%= event.location %></p>
        <p><%= event.description%></p>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item"><%= event.time%></p>
        <%= link_to event.creator.name, event.creator, class:"card-footer-item"%>
      </footer>
    </div>
  </div>
<% end %>